Source: sowatch
Section: user/other
Priority: optional
Maintainer: Javier <javier@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev, libqtm-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: sowatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bluetooth smartwatch manager
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: Smart Open Watch
