Source: sowatch
Section: user/other
Priority: optional
Maintainer: Javier <javier@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev, libqtm-dev
Standards-Version: 3.7.3
Homepage: http://gitorious.org/sowatch

Package: sowatch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Bluetooth smartwatch manager
 Sowatch is a manager for bluetooth-enabled smartwatches, whose display
 can be controlled by a device via a bluetooth based protocol.
 This framework provides several features for such smartwatches:
 - Notifications support: incoming calls, messages, etc.
 - Watchlets: control the media player or view a map.
 .
 Currently, only the MetaWatch is supported.
XB-Maemo-Display-Name: Sowatch
XB-Maemo-Icon-26: 
